<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.us.example.dao.MemberDao">

	<resultMap id="MemberMap" type="com.us.example.bean.Member">
		<id property="id" column="ID" />
		<result property="memberName" column="member_name" />
		<result property="password" column="PASSWORD" />
		<result property="telephone" column="telephone" />
		<result property="email" column="email" />
	</resultMap>

	<sql id="queryCondition">
		<where>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="memberName != null and memberName != ''">
				and NAME = #{name}
			</if>
			<if test="password != null and password != ''">
				and PASSWORD = #{password}
			</if>
			<if test="keywords != null and keywords != ''">
				and (member_name like CONCAT('%', #{keywords},'%')
				OR telephone like CONCAT('%', #{keywords},'%')
				OR email like CONCAT('%', #{keywords},'%') )
			</if>
		</where>
	</sql>

	<select id="getList" parameterType="map" resultMap="MemberMap">
		SELECT * FROM member
		<include refid="queryCondition" />
		order by id desc
	</select>

	<select id="selectByPrimaryKey" resultMap="MemberMap" parameterType="com.us.example.bean.Member">
		SELECT * FROM member
		WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="com.us.example.bean.Member">
		INSERT INTO member ( id,member_name, password, email,telephone)
		VALUES (
		#{id,jdbcType=VARCHAR},
		#{memberName,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR} )
	</insert>



</mapper>