<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.mybatis.dao.TeachBookDAO">
    <resultMap id="BaseResultMap" type="com.janita.mybatis.bean.TeachBook">
        <id column="book_id" property="bookId" jdbcType="INTEGER"/>
        <result column="book_name" property="bookName" jdbcType="VARCHAR"/>
        <result column="publisher" property="publisher" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT book_id, book_name, publisher
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.mybatis.bean.TeachBook">
        SELECT *
        FROM teach_book
        WHERE book_id = #{bookId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.mybatis.bean.TeachBook">
        DELETE FROM teach_book
        WHERE book_id = #{bookId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.janita.mybatis.bean.TeachBook">
        INSERT INTO teach_book ( book_name, 
          publisher )
        VALUES ( #{bookName,jdbcType=VARCHAR}, 
          #{publisher,jdbcType=VARCHAR} )
        <selectKey keyProperty="bookId" resultType="int">
            SELECT LAST_INSERT_ID() AS bookId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.janita.mybatis.bean.TeachBook">
        INSERT INTO teach_book
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="bookName != null">
                book_name,
            </if>
            <if test="publisher != null">
                publisher,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="bookName != null">
                #{bookName,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="bookId" resultType="int">
            SELECT LAST_INSERT_ID() AS bookId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO teach_book ( book_name, 
          publisher )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.bookName,jdbcType=VARCHAR}, 
            #{item.publisher,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.mybatis.bean.TeachBook">
        UPDATE teach_book
        <set>
            <if test="bookName != null">
                book_name = #{bookName,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                publisher = #{publisher,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE book_id = #{bookId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.mybatis.bean.TeachBook">
        UPDATE teach_book
        SET book_name = #{bookName,jdbcType=VARCHAR},
            publisher = #{publisher,jdbcType=VARCHAR}
        WHERE book_id = #{bookId,jdbcType=INTEGER}
    </update>
</mapper>